<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script>
        var app = angular.module('myApp', ['ngMaterial', 'ngMessages']).controller('myController', function ($scope) {
            //$scope.currentRelease = 16.416;
            //$scope.pastRelease = 16.408;
            $scope.currentView = 1;
            $scope.pastView = 1;
            $scope.today = new Date();
            $scope.day = $scope.today.getDate();
            $scope.month = $scope.today.getMonth() + 1;
            $scope.year = $scope.today.getYear() - 100;
            $scope.currentRelease = $scope.year + "." + String($scope.month) + String($scope.day);

            $scope.init = function () {
                console.log($scope.urlObject);

                if ($scope.day <= 10){
                    $scope.day = $scope.day - 1;
                    $scope.day = "0" + $scope.day;
                    $scope.day = String($scope.day);
                    $scope.currentRelease = $scope.year + "." + String($scope.month) + $scope.day;
                }
            };
        });
    </script>
    <style>
        a {
            padding-left: 2em;
            padding-right: 2em;
        }

        h3 {
            padding-left: 1em
        }

        .myTable td, .myTable a{
            /* border: solid black 1px; */
            text-align: left;
            padding-left: 0em;
        }

        .myTable {
            padding-left: 1em;
        }

    </style>
    <meta charset="UTF-8">
    <title>Release Helper</title>
</head>
<body data-ng-controller="myController" data-ng-init="init()">
    <div style="padding: 55px;">
        <div style="display: inline-block;">
            <input ng-model="currentRelease" placeholder="Release Version"> Current Release Version<br>
            <input ng-model="currentView" placeholder="Item Number"> Item Number<br><br>
        </div>
        <div style="display: inline-block; float: right;">
            <a href="updatePages.html"><md-button class="md-raised">To Update Pages</md-button></a>
            <a href="listsettings.html"><md-button class="md-raised">To List Settings</md-button></a>
        </div>
        <div>
            <h1>v{{currentRelease}} - Debug</h1>
            <h3 class="myHeader">NFS</h3>
            <table class="myTable">
                <tr>
                    <td>NFS Dashboard</td>
                    <td>
                        <a href="https://nfs.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/nfs/fund" target="_blank">
                            https://nfs.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/nfs/fund</a>
                    </td>
                </tr>
                <tr>
                    <td>NFS Edit Form</td>
                    <td>
                        <a href="https://nfs.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/nfs/fund/view/0" target="_blank">
                            https://nfs.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/nfs/fund/view/0</a>
                    </td>
                </tr>
                <tr>
                    <td>NFS Display Form</td>
                    <td>
                        <a href="https://nfs.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/nfs/fund/view/0" target="_blank">
                            https://nfs.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/nfs/fund/view/0</a>
                    </td>
                </tr>
            </table>
            <h3 class="myHeader">CellTech</h3>
            <table class="myTable">
                <tr>
                    <td>Scheduler</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/celltech/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/schedule" target="_blank">
                            https://ort.ncats.nih.gov/celltech/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/schedule</a>
                    </td>
                </tr>
            </table>
            <h3 class="myHeader" id="testM2e">Imaging</h3>
            <table class="myTable">
                <tr>
                    <td>Schedule Instruments</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/imaging/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/scheduleInstruments" target="_blank">
                            https://ort.ncats.nih.gov/imaging/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/scheduleInstruments</a>
                    </td>
                </tr>
                <tr>
                    <td>New Schedule Instruments</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/imaging/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/schedule" target="_blank">
                            https://ort.ncats.nih.gov/imaging/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/schedule</a>
                    </td>
                </tr>
                <tr>
                    <td>Manage Instruments</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/imaging/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/myInstruments" target="_blank">
                            https://ort.ncats.nih.gov/imaging/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/myInstruments</a>
                    </td>
                </tr>
            </table>
            <h3 class="myHeader">CoMa</h3>
            <table id="comaTable" class="myTable">
                <tr>
                    <td>Consumables Dashboard</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/consumables/dashboard/myConsumables" target="_blank">
                            https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/consumables/dashboard/myConsumables</a>
                    </td>
                </tr>
                <tr>
                    <td>Projects Dashboard</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/projects/dashboard/myProjects" target="_blank">
                            https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/projects/dashboard/myProjects</a>
                    </td>
                </tr>
                <tr>
                    <td>Instruments Dashboard</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/myInstruments" target="_blank">
                            https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/myInstruments</a>
                    </td>
                </tr>
                <tr>
                    <td>Create New Location</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/locations/dashboard/creator" target="_blank">
                            https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/locations/dashboard/creator</a>
                    </td>
                </tr>
                <tr>
                    <td>Reprint Location Barcodes</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/locations/dashboard/reprint" target="_blank">
                            https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/locations/dashboard/reprint</a>
                    </td>
                </tr>
                <tr>
                    <td>Reprint Consumable Barcodes</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/reprint" target="_blank">
                            https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/reprint</a>
                    </td>
                </tr>
                <tr>
                    <td>Check-In Consumables</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/checkin" target="_blank">
                            https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/checkin</a>
                    </td>
                </tr>
                <tr>
                    <td>Check-Out Consumables</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/checkout" target="_blank">
                            https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/checkout</a>
                    </td>
                </tr>
            </table>
            <h3 class="myHeader">Inventory</h3>
            <table id="inventoryTable" class="myTable">
                <tr>
                    <td>Consumables Dashboard</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/consumables/dashboard/myConsumables" target="_blank">
                            https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/consumables/dashboard/myConsumables</a>
                    </td>
                </tr>
                <tr>
                    <td>Create New Location</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/locations/dashboard/creator" target="_blank">
                            https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/locations/dashboard/creator</a>
                    </td>
                </tr>
                <tr>
                    <td>Reprint Location Barcodes</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/locations/dashboard/reprint" target="_blank">
                            https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/locations/dashboard/reprint</a>
                    </td>
                </tr>
                <tr>
                    <td>Reprint Consumable Barcodes</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/reprint" target="_blank">
                            https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/reprint</a>
                    </td>
                </tr>
                <tr>
                    <td>Check-In Consumables</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/checkin" target="_blank">
                            https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/checkin</a>
                    </td>
                </tr>
                <tr>
                    <td>Check-Out Consumables</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/checkout" target="_blank">
                            https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/checkout</a>
                    </td>
                </tr>
            </table>
            <h3 class="myHeader">Instrumentation</h3>
            <table id="instrumentsTable" class="myTable">
                <tr>
                    <td>Instruments Dashboard</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/instrumentation/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/myInstruments" target="_blank">
                            https://ort.ncats.nih.gov/instrumentation/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/myInstruments</a>
                    </td>
                </tr>
                <tr>
                    <td>Instrumentation Scheduler - Building A</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/instrumentation/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/scheduleA" target="_blank">
                            https://ort.ncats.nih.gov/instrumentation/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/scheduleA</a>
                    </td>
                </tr>
                <tr>
                    <td>Instrumentation Scheduler - Building B</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/instrumentation/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/scheduleB" target="_blank">
                            https://ort.ncats.nih.gov/instrumentation/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/scheduleB</a>
                    </td>
                </tr>
                <tr>
                    <td>Instrumentation Scheduler - Building C</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/instrumentation/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/scheduleC" target="_blank">
                            https://ort.ncats.nih.gov/instrumentation/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/scheduleC</a>
                    </td>
                </tr>
            </table>
            <h3 class="myHeader">RNAi</h3>
            <table id="RNAiTable" class="myTable">
                <tr>
                    <td>New Letter of Intent</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/rnai/intent/new" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/rnai/intent/new</a>
                    </td>
                </tr>
                <tr>
                    <td>View/Edit Letter of Intent</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/rnai/intent/view/{{currentView}}" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/rnai/intent/view/{{currentView}}</a>
                    </td>
                </tr>
                <tr>
                    <td>View/Edit Full Application</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/rnai/fullapplication/view/{{currentView}}" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/rnai/fullapplication/view/{{currentView}}</a>
                    </td>
                </tr>
                <tr>
                    <td>Consumables Dashboard</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/consumables/dashboard/myConsumables" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/consumables/dashboard/myConsumables</a>
                    </td>
                </tr>
                <tr>
                    <td>Projects Dashboard</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/projects/dashboard/myProjects" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/projects/dashboard/myProjects</a>
                    </td>
                </tr>
                <tr>
                    <td>Instruments Dashboard</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/myInstruments" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/myInstruments</a>
                    </td>
                </tr>
                <tr>
                    <td>Freezers Dashboard</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/Derivatives/dashboard/myDerivatives" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/Derivatives/dashboard/myDerivatives</a>
                    </td>
                </tr>
                <tr>
                    <td>Create New Location</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/locations/dashboard/creator" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/locations/dashboard/creator</a>
                    </td>
                </tr>
                <tr>
                    <td>Reprint Location Barcodes</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/locations/dashboard/reprint" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/locations/dashboard/reprint</a>
                    </td>
                </tr>
                <tr>
                    <td>Reprint Consumable Barcodes</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/reprint" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/reprint</a>
                    </td>
                </tr>
                <tr>
                    <td>Check-In Consumables</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/checkin" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/checkin</a>
                    </td>
                </tr>
                <tr>
                    <td>Check-Out Consumables</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/checkout" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/checkout</a>
                    </td>
                </tr>
            </table>
            <h3 class="myHeader">Stemcells</h3>
            <table id="StemcellsTable" class="myTable">
                <tr>
                    <td>New Letter of Intent</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/rnai/intent/new" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/rnai/intent/new</a>
                    </td>
                </tr>
                <tr>
                    <td>View/Edit Letter of Intent</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/rnai/intent/view/{{currentView}}" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/rnai/intent/view/{{currentView}}</a>
                    </td>
                </tr>
                <tr>
                    <td>View/Edit Full Application</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/rnai/fullapplication/view/{{currentView}}" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/rnai/fullapplication/view/{{currentView}}</a>
                    </td>
                </tr>
                <tr>
                    <td>Consumables Dashboard</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/consumables/dashboard/myConsumables" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/consumables/dashboard/myConsumables</a>
                    </td>
                </tr>
                <tr>
                    <td>Projects Dashboard</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/projects/dashboard/myProjects" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/projects/dashboard/myProjects</a>
                    </td>
                </tr>
                <tr>
                    <td>Instruments Dashboard</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/myInstruments" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/instruments/dashboard/myInstruments</a>
                    </td>
                </tr>
                <tr>
                    <td>Freezers Dashboard</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/Derivatives/dashboard/myDerivatives" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/Derivatives/dashboard/myDerivatives</a>
                    </td>
                </tr>
                <tr>
                    <td>Create New Location</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/locations/dashboard/creator" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/locations/dashboard/creator</a>
                    </td>
                </tr>
                <tr>
                    <td>Reprint Location Barcodes</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/locations/dashboard/reprint" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/locations/dashboard/reprint</a>
                    </td>
                </tr>
                <tr>
                    <td>Reprint Consumable Barcodes</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/reprint" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/reprint</a>
                    </td>
                </tr>
                <tr>
                    <td>Check-In Consumables</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/checkin" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/checkin</a>
                    </td>
                </tr>
                <tr>
                    <td>Check-Out Consumables</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/checkout" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/checkinout/dashboard/checkout</a>
                    </td>
                </tr>
                <tr>
                    <td>Antibodies Dashboard</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/antibodydatabase/dashboard/myAntibodies" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/antibodydatabase/dashboard/myAntibodies</a>
                    </td>
                </tr>
                <tr>
                    <td>Reagents Dashboard</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/reagentsdatabase/dashboard/myReagents" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/reagentsdatabase/dashboard/myReagents</a>
                    </td>
                </tr>
            </table>
            <h3 class="myHeader">OSCTR</h3>
            <table id="OSCTRtable" class="myTable">
                <tr>
                    <td>Donors Dashboard</td>
                    <td>
                        <a href="https://labshare.nih.gov/nei/osctr/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/Donors/dashboard/list" target="_blank">
                            https://labshare.nih.gov/nei/osctr/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/Donors/dashboard/list</a>
                    </td>
                </tr>
                <tr>
                    <td>Freezers Dashboard</td>
                    <td>
                        <a href="https://labshare.nih.gov/nei/osctr/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/Derivatives/dashboard/myDerivatives" target="_blank">
                            https://labshare.nih.gov/nei/osctr/_layouts/ls/{{currentRelease}}/debug/default.aspx#/facility/list/Derivatives/dashboard/myDerivatives</a>
                    </td>
                </tr>
            </table>
        </div>
        <!-- Div breaks --><br><hr><br>
        <div>
            <input ng-model="currentRelease" placeholder="Release Version"> Current Release Version<br>
            <input ng-model="currentView" placeholder="Item Number"> Item Number<br><br>
            <h1>v{{currentRelease}} - Min</h1>
            <h3 class="myHeader" id="testMe">NFS</h3>
            <table id="NFStable" class="myTable">
                <tr>
                    <td>NFS Dashboard</td>
                    <td>
                        <a href="https://nfs.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/nfs/fund" target="_blank">
                            https://nfs.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/nfs/fund</a>
                    </td>
                </tr>
                <tr>
                    <td>NFS Edit Form</td>
                    <td>
                        <a href="https://nfs.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/nfs/fund/view/0" target="_blank">
                            https://nfs.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/nfs/fund/view/0</a>
                    </td>
                </tr>
                <tr>
                    <td>NFS Display Form</td>
                    <td>
                        <a href="https://nfs.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/nfs/fund/view/0" target="_blank">
                            https://nfs.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/nfs/fund/view/0</a>
                    </td>
                </tr>
            </table>
            <h3 class="myHeader">CellTech</h3>
            <table class="myTable">
                <tr>
                    <td>Scheduler</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/celltech/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/schedule" target="_blank">
                            https://ort.ncats.nih.gov/celltech/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/schedule</a>
                    </td>
                </tr>
            </table>
            <h3 class="myHeader" id="testM2e">Imaging</h3>
            <table id="NFStable2" class="myTable">
                <tr>
                    <td>Schedule Instruments</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/imaging/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/scheduleInstruments" target="_blank">
                            https://ort.ncats.nih.gov/imaging/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/scheduleInstruments</a>
                    </td>
                </tr>
                <tr>
                    <td>New Schedule Instruments</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/imaging/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/schedule" target="_blank">
                            https://ort.ncats.nih.gov/imaging/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/schedule</a>
                    </td>
                </tr>
                <tr>
                    <td>Manage Instruments</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/imaging/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/myInstruments" target="_blank">
                            https://ort.ncats.nih.gov/imaging/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/myInstruments</a>
                    </td>
                </tr>
            </table>
            <h3 class="myHeader">CoMa</h3>
            <table id="comaTable" class="myTable">
                <tr>
                    <td>Consumables Dashboard</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/consumables/dashboard/myConsumables" target="_blank">
                            https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/consumables/dashboard/myConsumables</a>
                    </td>
                </tr>
                <tr>
                    <td>Projects Dashboard</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/projects/dashboard/myProjects" target="_blank">
                            https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/projects/dashboard/myProjects</a>
                    </td>
                </tr>
                <tr>
                    <td>Instruments Dashboard</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/myInstruments" target="_blank">
                            https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/myInstruments</a>
                    </td>
                </tr>
                <tr>
                    <td>Create New Location</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/locations/dashboard/creator" target="_blank">
                            https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/locations/dashboard/creator</a>
                    </td>
                </tr>
                <tr>
                    <td>Reprint Location Barcodes</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/locations/dashboard/reprint" target="_blank">
                            https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/locations/dashboard/reprint</a>
                    </td>
                </tr>
                <tr>
                    <td>Reprint Consumable Barcodes</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/reprint" target="_blank">
                            https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/reprint</a>
                    </td>
                </tr>
                <tr>
                    <td>Check-In Consumables</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/checkin" target="_blank">
                            https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/checkin</a>
                    </td>
                </tr>
                <tr>
                    <td>Check-Out Consumables</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/checkout" target="_blank">
                            https://ort.ncats.nih.gov/CoMa/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/checkout</a>
                    </td>
                </tr>
            </table>
            <h3 class="myHeader">Inventory</h3>
            <table id="inventoryTable" class="myTable">
                <tr>
                    <td>Consumables Dashboard</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/consumables/dashboard/myConsumables" target="_blank">
                            https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/consumables/dashboard/myConsumables</a>
                    </td>
                </tr>
                <tr>
                    <td>Create New Location</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/locations/dashboard/creator" target="_blank">
                            https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/locations/dashboard/creator</a>
                    </td>
                </tr>
                <tr>
                    <td>Reprint Location Barcodes</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/locations/dashboard/reprint" target="_blank">
                            https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/locations/dashboard/reprint</a>
                    </td>
                </tr>
                <tr>
                    <td>Reprint Consumable Barcodes</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/reprint" target="_blank">
                            https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/reprint</a>
                    </td>
                </tr>
                <tr>
                    <td>Check-In Consumables</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/checkin" target="_blank">
                            https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/checkin</a>
                    </td>
                </tr>
                <tr>
                    <td>Check-Out Consumables</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/checkout" target="_blank">
                            https://ort.ncats.nih.gov/inventory/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/checkout</a>
                    </td>
                </tr>
            </table>
            <h3 class="myHeader">Instrumentation</h3>
            <table id="instrumentsTable" class="myTable">
                <tr>
                    <td>Instruments Dashboard</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/instrumentation/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/myInstruments" target="_blank">
                            https://ort.ncats.nih.gov/instrumentation/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/myInstruments</a>
                    </td>
                </tr>
                <tr>
                    <td>Instrumentation Scheduler - Building A</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/instrumentation/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/scheduleA" target="_blank">
                            https://ort.ncats.nih.gov/instrumentation/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/scheduleA</a>
                    </td>
                </tr>
                <tr>
                    <td>Instrumentation Scheduler - Building B</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/instrumentation/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/scheduleB" target="_blank">
                            https://ort.ncats.nih.gov/instrumentation/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/scheduleB</a>
                    </td>
                </tr>
                <tr>
                    <td>Instrumentation Scheduler - Building C</td>
                    <td>
                        <a href="https://ort.ncats.nih.gov/instrumentation/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/scheduleC" target="_blank">
                            https://ort.ncats.nih.gov/instrumentation/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/scheduleC</a>
                    </td>
                </tr>
            </table>
            <h3 class="myHeader">RNAi</h3>
            <table id="RNAiTable" class="myTable">
                <tr>
                    <td>New Letter of Intent</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/rnai/intent/new" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/rnai/intent/new</a>
                    </td>
                </tr>
                <tr>
                    <td>View/Edit Letter of Intent</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/rnai/intent/view/{{currentView}}" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/rnai/intent/view/{{currentView}}</a>
                    </td>
                </tr>
                <tr>
                    <td>View/Edit Full Application</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/rnai/fullapplication/view/{{currentView}}" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/rnai/fullapplication/view/{{currentView}}</a>
                    </td>
                </tr>
                <tr>
                    <td>Consumables Dashboard</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/consumables/dashboard/myConsumables" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/consumables/dashboard/myConsumables</a>
                    </td>
                </tr>
                <tr>
                    <td>Projects Dashboard</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/projects/dashboard/myProjects" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/projects/dashboard/myProjects</a>
                    </td>
                </tr>
                <tr>
                    <td>Instruments Dashboard</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/myInstruments" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/myInstruments</a>
                    </td>
                </tr>
                <tr>
                    <td>Freezers Dashboard</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/Derivatives/dashboard/myDerivatives" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/Derivatives/dashboard/myDerivatives</a>
                    </td>
                </tr>
                <tr>
                    <td>Create New Location</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/locations/dashboard/creator" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/locations/dashboard/creator</a>
                    </td>
                </tr>
                <tr>
                    <td>Reprint Location Barcodes</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/locations/dashboard/reprint" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/locations/dashboard/reprint</a>
                    </td>
                </tr>
                <tr>
                    <td>Reprint Consumable Barcodes</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/reprint" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/reprint</a>
                    </td>
                </tr>
                <tr>
                    <td>Check-In Consumables</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/checkin" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/checkin</a>
                    </td>
                </tr>
                <tr>
                    <td>Check-Out Consumables</td>
                    <td>
                        <a href="https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/checkout" target="_blank">
                            https://rnai.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/checkout</a>
                    </td>
                </tr>
            </table>
            <h3 class="myHeader">Stemcells</h3>
            <table id="StemcellsTable" class="myTable">
                <tr>
                    <td>New Letter of Intent</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/rnai/intent/new" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/rnai/intent/new</a>
                    </td>
                </tr>
                <tr>
                    <td>View/Edit Letter of Intent</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/rnai/intent/view/{{currentView}}" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/rnai/intent/view/{{currentView}}</a>
                    </td>
                </tr>
                <tr>
                    <td>View/Edit Full Application</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/rnai/fullapplication/view/{{currentView}}" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/rnai/fullapplication/view/{{currentView}}</a>
                    </td>
                </tr>
                <tr>
                    <td>Consumables Dashboard</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/consumables/dashboard/myConsumables" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/consumables/dashboard/myConsumables</a>
                    </td>
                </tr>
                <tr>
                    <td>Projects Dashboard</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/projects/dashboard/myProjects" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/projects/dashboard/myProjects</a>
                    </td>
                </tr>
                <tr>
                    <td>Instruments Dashboard</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/myInstruments" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/instruments/dashboard/myInstruments</a>
                    </td>
                </tr>
                <tr>
                    <td>Freezers Dashboard</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/Derivatives/dashboard/myDerivatives" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/Derivatives/dashboard/myDerivatives</a>
                    </td>
                </tr>
                <tr>
                    <td>Create New Location</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/locations/dashboard/creator" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/locations/dashboard/creator/a>
                    </td>
                </tr>
                <tr>
                    <td>Reprint Location Barcodes</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/locations/dashboard/reprint" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/locations/dashboard/reprint</a>
                    </td>
                </tr>
                <tr>
                    <td>Reprint Consumable Barcodes</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/reprint" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/reprint</a>
                    </td>
                </tr>
                <tr>
                    <td>Check-In Consumables</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/checkin" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/checkin</a>
                    </td>
                </tr>
                <tr>
                    <td>Check-Out Consumables</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/checkout" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/checkinout/dashboard/checkout</a>
                    </td>
                </tr>
                <tr>
                    <td>Antibodies Dashboard</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/antibodydatabase/dashboard/myAntibodies" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/antibodydatabase/dashboard/myAntibodies</a>
                    </td>
                </tr>
                <tr>
                    <td>Reagents Dashboard</td>
                    <td>
                        <a href="https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/reagentsdatabase/dashboard/myReagents" target="_blank">
                            https://stemcells.ncats.nih.gov/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/reagentsdatabase/dashboard/myReagents</a>
                    </td>
                </tr>
            </table>
            <h3 class="myHeader">OSCTR</h3>
            <table id="OSCTRtable" class="myTable">
                <tr>
                    <td>Donors Dashboard</td>
                    <td>
                        <a href="https://labshare.nih.gov/nei/osctr/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/Donors/dashboard/list" target="_blank">
                            https://labshare.nih.gov/nei/osctr/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/Donors/dashboard/list</a>
                    </td>
                </tr>
                <tr>
                    <td>Freezers Dashboard</td>
                    <td>
                        <a href="https://labshare.nih.gov/nei/osctr/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/Derivatives/dashboard/myDerivatives" target="_blank">
                            https://labshare.nih.gov/nei/osctr/_layouts/ls/{{currentRelease}}/default.aspx#/facility/list/Derivatives/dashboard/myDerivatives</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
